.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Adjusted height */
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
  color: #444; /* Adjusted color */
}

h2 {
  margin-bottom: 20px;
  color: #555; /* Adjusted color */
}

form {
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px; /* Increased margin */
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

login-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Added margin */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.footer-note {
  margin-top: 20px;
  color: #777;
  font-size: 14px;
  text-align: center;
}
