.navbar {
    background-color: #3498db; /* Updated to a lighter blue color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for a fancy look */
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 20px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.navbar-item {
    margin: 0 1rem;
}

.navbar-item a {
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar-item a:hover {
    background-color: #2980b9;
    color: #ffffff;
    transform: scale(1.1);
}
